/*
Colors used in icon:
#1977BA
#6FCBD4
#FCC1B6
*/

body {
    width:450px;
    text-align: left;
    background-color: lightblue;
}

h1 {
    text-align: center;
}

ol {
    font-size: 14px;
}

ul {
    font-size: 14px;
}

p {
    font-size: 20px;
}

button {
    width: 150px;
    text-align: center;
    font-size: 16px;
}
