/*
Colors used in icon:
#1977BA
#6FCBD4
#FCC1B6
*/

:root {
	--body-width: 450px;
	--footer-height: 20px;
}

body {
    width: var(--body-width);
    text-align: left;
    background-color: lightblue;
}

header {
    text-align: center;
}

#controls {
	width: 33%;
}

#controls button {
	width: 100%;
	display: table-cell;
    text-align: center;
}

footer {
	height: var(--footer-height);
}

footer nav {
	position: absolute;
	right: 0;
	bottom: calc(var(--footer-height) / 2); /* halfway between top and bottom of the footer*/
	padding-right: 10px;
}